@media all {

a img { border: none; } /* for firefox */

.ui-widget {
    font: inherit;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0;
}

a:link, a:visited { text-decoration: underline; color: #0d33f7; }
a:hover  { color: #1856f7; }
a:active { color: #f70e0e; }

a.pseudo:link, a.pseudo:visited {
    text-decoration: none;
    color: #0d33f7;
    border-bottom: 1px dashed #0d33f7;
}
a.pseudo:hover  { color: #1856f7; border-bottom: 1px dashed #1856f7; }
a.pseudo:active { color: #f70e0e; border-bottom: 1px dashed #f70e0e; }

div#right {
    position: fixed;
    width: 268px;
    right: 0;
    top: 25px;
    background: #fff;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

nav.panel {
    display: block;
    padding: 0;
    margin: 0;
    background-color: #5e5e5e;
    -ms-box-shadow: 0 0 3px #4e4e4e;
    -moz-box-shadow: 0 0 3px #4e4e4e;
    -webkit-box-shadow: 0 0 3px #4e4e4e;
    -o-box-shadow: 0 0 3px #4e4e4e;
    -khtml-box-shadow: 0 0 3px #4e4e4e;
    box-shadow: 0 0 3px #4e4e4e;
    width: 100%;
    color: #fff;
}
nav.panel::after {
    display: block;
    content: "";
    clear: both;
}
nav#panel {
    position: fixed;
    width: 100%;
    background-color: #f2f2f2;
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px 2px #bbb;
    padding: 8px 15px;
    color: black;
    font-size: 11pt;
    cursor: default;
    box-sizing: border-box;
}

#panel a:link, #panel a:visited {
    text-decoration: none;
    color: #444;
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin: 0 4px;
    border-radius: 3px;
    background-color: #eee;
    float: left;
}

#helpToggle {
    float: right !important;
}

#takeStep {
    color: #ccc !important;
}

#takeStep.enabled {
    color: #000 !important;
    border-color: orange !important;
    box-shadow: 0 0 2px orange;
}

#panel a:active, #panel a.active {
    background-color: #ddd;
}

#left .panel {
    margin: 10px 0;
}
.panel .elem {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    float: left;
    display: block;
    border-left: 1px solid #4e4e4e;
    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    -khtml-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}
.panel .elem.right {
    float: right;
    border-left: none;
    border-right: 1px solid #4e4e4e;
}
.panel .elem .label {
    padding: 4px 10px;
    text-shadow: 0 1px 0 #000;
    text-align: center;
    cursor: pointer;
}
.panel input.checkbox + .elem {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO5JREFUOMvNk71qhUAUBu1jIygkKe9T2IcUtnYJVkFCfkwq01joC9oF8gI2iihooYjIyU599kIgzV2YZr9hthAdEXH%2Bg3M5gbIsnaqqToYHw%2FMZ2E64KlAUBTx2XfctZw4bDq4K5HkOL8dxyL7vVthwcFUgyzJ43bZN1nW1woaDqwJpmsLbsiwyz7MVNhxcFUiSBLJpmmQYBitsOLgqEMcxfIzjKG3bWmHDwVWBKIrgs%2B97aZrGChsOrgp4nueEYfhU1%2FWP%2BVzqde7YcHBVwJzAdd073%2FffgyD4ssFmnHvjXtsCV4Ybw%2B0fcC%2FnZ%2FoFlDSq%2Butxmy8AAAAASUVORK5CYII%3D");
}
.panel input.checkbox:checked + .elem,
.panel input.checkboxon:checked + .elem {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR9JREFUOMvNk7FqhEAURaePjaCQbLlfYR9S2NolWC0SktWkMo2I%2FoC9P2UhCAErCxEUQdBCEZGXuRZLwuzCQpodOIzPe7iDioyI2H9gt1MQBAELw3DPeea8XgDZHq5Q4HkeeGmaJqMLCxkcuEKB67rgbV1XWpZFoCxLQgYHrlDgOA54n%2BeZpmn6Q9u2FMcxIYMDVyiwLAscx3GkKIqoqioahmHbMQNkcOAKBaZpAqfve%2FJ9fyNN09N1URSEDA5cocAwDPDRdR3leU62bZ%2FAXNc1IYMDVyjQdR184nnxwrIsw2nbjhkggwNXKJBlmWmadkiS5Jt%2Fru3E3%2BAeMjhwhQK%2BVEmSHhVFOaqq%2BnUOZNx54u79uYI7zgNndwXS7fxMP7YdmQdx7qO2AAAAAElFTkSuQmCC");
}
.panel input.checkbox + .elem .label,
.panel input.checkboxon + .elem .label {
    padding-left: 16px;
}

.panel .elem:hover,
.panel .elem:focus,
.panel .elem.opened,
.panel input:focus + .elem,
.panel input:checked + .elem {
    background-color: #4e4e4e;
    outline: none;
}
.panel .elem:focus .labeltext,
.panel input:focus + .elem .labeltext {
    outline: 1px solid orange;
}

.panel input.hidden {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.panel .elem.dropdown {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -khtml-transition-delay: 1s;
    transition-delay: 1s;
}
.panel .elem.dropdown .labeltext::after {
    content: " ▾";
}
.panel .elem.dropdown > .ddnode {
    position: absolute;
    visibility: hidden;
    display: none;
    opacity: 0;
    -moz-transition: opacity 150ms 1s linear, visibility 150ms 1s linear;
    -webkit-transition: opacity 150ms 1s linear, visibility 150ms 1s linear;
    -o-transition: opacity 150ms 1s linear, visibility 150ms 1s linear;
    -ms-transition: opacity 150ms 1s linear, visibility 150ms 1s linear;
    -khtml-transition: opacity 150ms 1s linear, visibility 150ms 1s linear;
    transition: opacity 150ms 1s linear, visibility 150ms 1s linear;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(94, 94, 94, 0.9);
    padding: 5px 10px;
    color: #fff;
    cursor: auto;
}
.panel .ddnode p {
    margin: 0;
}
.panel .elem.dropdown:hover > .ddnode,
.panel .elem.dropdown:focus > .ddnode,
.panel .elem.dropdown.opened > .ddnode,
.panel input:focus + .elem.dropdown > .ddnode,
.panel input:checked + .elem.dropdown > .ddnode {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    -khtml-transition-delay: 0;
    transition-delay: 0;
}
.panel .elem.dropdown:hover,
.panel .elem.dropdown:focus,
.panel .elem.dropdown.opened,
.panel input:focus + .elem.dropdown,
.panel input:checked + .elem.dropdown {
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    -khtml-transition-delay: 0;
    transition-delay: 0;
}

.panel .elem.red {
    background-color: rgba(255, 0, 0, 0.4);
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    -khtml-transition-delay: 0;
    transition-delay: 0;
}
.panel .elem.red:hover,
.panel .elem.red:focus,
.panel .elem.red.opened,
.panel input:focus + .elem.red,
.panel input:checked + .elem.red {
    background-color: rgba(255, 0, 0, 0.2);
}

#solvingTechniques {
    display: none;
    position: fixed;
    width: 200px;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 3px #ccc;
    border: 1px solid #ccc;
    border-top: none;
}

#solvingTechniques h3 {
    font-size: inherit;
    margin: 0;
    padding: 0;
}

#solvingTechniques table .fixed {
    width: 1px;
}
#solvingTechniques table {
    width: 100%;
}
#solvingTechniques thead {
    font-weight: bolder;
}

#sudokuVariations {
    display: none;
    position: fixed;
    width: 275px;
    background-color: white;
    overflow-y: scroll;
}

#stats .errors {
    color: #f88;
}

#saveload input[type=checkbox] {
    position: relative;
    top: 3px;
    margin: 0;
}

#showsteps, #messages {
    display: none;
}
#showsteps .labeltext {
    font-weight: bold;
}

div#sudoku {
    font-family: Georgia;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
}
div#sudoku > svg {
    margin: 30px 100px;
}

#left-toggle + .elem .labeltext::before {
    content: "→ ";
}
#left-toggle:checked + .elem .labeltext::before {
    content: "← ";
}

#left {
    display: none;
    visibility: hidden;
    height: 100%;
    overflow-y: scroll;
    width: 280px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -280px;
    -webkit-transition: left 0.2s linear, visibility 0.2s linear;
    -moz-transition: left 0.2s linear, visibility 0.2s linear;
    -o-transition: left 0.2s linear, visibility 0.2s linear;
    -ms-transition: left 0.2s linear, visibility 0.2s linear;
    -khtml-transition: left 0.2s linear, visibility 0.2s linear;
    transition: left 0.2s linear, visibility 0.2s linear;
    background: #f3f3f3;
    padding-top: 25px;
    z-index: 100;
}
#left.opened {
    left: 0;
    visibility: visible;
}

#sudokutype > div {
    font-size: 10pt;
    font-family: serif;
    float: left;
    width: 100px;
    padding: 8px;
    border: 2px solid transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
}
#sudokutype > div:hover { border: 2px solid #000; }

.gray { color: #a7a7a7; }

#help {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

#helpnode {
    background: #fff;
    width: 700px;
    height: 80%;
    position: relative;
    top: 20px;
    left: 50%;
    margin: 0 0 0 -350px;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
}

#helpclose {
    width: 100%;
}

#sbsInfoBox {
}

.cellRef {
    text-decoration: underline;
    color: #333;
    cursor: default;
}

}

@media print {
    #panel, #left, #help {
        display: none;
    }

    #sudoku > svg {
        margin: 0;
    }

}
